link-workspace-packages = true
shared-workspace-lockfile = true
side-effects-cache = true
extend-node-path = false
strict-peer-dependencies=false
git-checks=false
# recursive-install=false

hoist-pattern[]=*eslint*
hoist-pattern[]=*es5-imcompatible-versions*
hoist-pattern[]=*node-libs-browser*
hoist-pattern[]=*@svgr/webpack*
hoist-pattern[]=*umi*
hoist-pattern[]=*@umijs/utils*
hoist-pattern[]=*babel*
hoist-pattern[]=postcss
hoist-pattern[]=source-map-support
hoist-pattern[]=ts-node

registry = "https://registry.npmjs.org/"